amqp==5.1.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
certifi==2022.12.7
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
dataclasses==0.8
Flask==2.0.3
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
kombu==5.1.0
MarkupSafe==2.0.1
prompt-toolkit==3.0.36
psycopg2==2.7.7
psycopg2-binary==2.9.5
pytz==2023.3
requests==2.27.1
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.15
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.0.3
zipp==3.6.0
